/*
	Setup general styles
*/

body {
	margin: 0;
	padding: 0;
	background: $color-1;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.container {
	@include flex-row(initial, flex-start);
	width: 1400px;
	margin: auto;

	@include screen-x(1700px) {
		width: 1000px;
	}

	@include screen-x(1400px) {
		width: 90%;
	}

	@include screen-x(900px) {
		width: calc(100% - 20px);
	}
}

h1,
h2,
h3,
h4,
h5,
p {
	padding: 0;
	margin: 0;
}
