/*
	Setup general styles
*/

body {
	margin: 0;
	padding: 0;
	background: $color-1;
}

#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
